body{
background-image: url("imagenesP2/fondo.jpg");
background-size: cover;
height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-left: 50px;
}