body{
    margin: 0;
    padding: 0;
}
#div_encabezado{
    background-image: url("imagenes/img_encav.jpg");
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-left: 50px;
}
#div_encabezado h1 {
    width: 80%;
    height: 20%;
    text-align: left;
    color: #00ff;
    font-size: 2em;
    padding-left: 0%;
}
#botones_redes{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10px;

}
#botones_redes button:hover{
    color: #ddd;
}
body{
    background-image: url("imagenes/fondo.jpg");
    background-size: cover;
    min-height: 100vh;

}


#carrusel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; 
    background: rgba(255, 255, 255, 0.5);
    border: #ff8000;
    padding: 10px;
    cursor: pointer;
}

#anteriorButton {
    left: 10px; 
}

#siguienteButton {
    right: 10px; 
}

#carrusel {
    position: relative;
    width: 100%; 
    overflow-x: hidden;
    height: 200px;
    margin-top: 20px;
}
#carrusel_Imagenes {
    position: relative;
    width: 100%;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
#contenedor-imagenes {
    display: flex; 
    flex-wrap: wrap; 
    
}

#carrusel img {
    width: calc(25% - 2px);
    height: 200px; 
    object-fit: cover; 
    margin: 1px;
    border-radius: 8px;    
}
#div_contenedor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#institucional, #memes{
    width: 244px;
    height: 251px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
#institucional{
    background-image: url("imagenes/ANGELITO.jpg");
    margin-right: 50px;
   
}

#memes{
    background-image: url("imagenes/DIABLITO.jpg");
}

.contenedor_imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#linkinstitu, #linkmemes{
    width: 244px;
    height: 251px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-top: 20px;
}
#linkinstitu {
    background-color: #6C5B7B;

}
#linkmemes {
    background-color: #355C7D;
}
#div_link1{
    display: flex;
    justify-content: center;
    background-color: rgb(141, 18, 18);
    border-radius: 8px;
    width: 80%;
    height: 15%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#linkinstitu a {
    color: gold;
    text-decoration: none;
    align-items: center;
    margin: auto;

}
#linkinstitu a:hover{
    text-decoration: underline;
}


#div_link2 {
    display: flex;
    justify-content: center;
    background-color: rgb(141, 18, 18); 
    border-radius: 8px;
    width: 80%;
    height: 15%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
   
}

#linkmemes a {
    color: gold;
    text-decoration: none;
    align-items: center;
    margin: auto;
}

#linkmemes a:hover {
    text-decoration: underline;
}




#linkinstitu ul,
#linkmemes ul {
    list-style: none;
    padding: 0;
    margin-top: 8px; 
    margin-bottom: 8px; 
}

#linkinstitu ul li,
#linkmemes ul li {
    background-color: #ec6c30; 
    border-radius: 4px; 
    padding: 10px; 
    margin-bottom: 5px; 
    color: #333; 
    font-size: 18px; 
}

#linkinstitu ul li:hover,
#linkmemes ul li:hover {
    text-decoration: underline; 
}

#footer{
    background-image: url("imagenes/img_footer.jpg");
    background-size: cover;
    height: 180px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 8px;
    margin-top: 15px;
    padding: 0 30px;
    box-sizing: border-box;

}
.footer_columnas{
    flex: 1;
    padding: 0 10px;
    text-align: center;
}
.footer_listas {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_listas li {
    background-color: #6C5B7B;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 15px;

}
.footer-list li:hover{
    text-decoration: underline;
}





